# 3 Data Wrangling and Subsetting

Contents

1. Importing libraries
2. Importing data
3. Data Wrangling - Orders Dataframe
4. Data Wrangling - Departments Dataframe
    4.1 Creating data dictionary
5. Data Wrangling - Products Dataframe
6. Task 4.4 Questions
7. Export dataframes

1. Importing libraries

In [3]:
#Import libraries
import pandas as pd
import numpy as np
import os

2. Importing data

In [4]:
path = r'C:\Users\Caroline\Documents\Career Foundry\03 2023 Instacart Basket Analysis'

In [5]:
#import orders.csv as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [6]:
#import products.csv as df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
#import departments.csv as df_dep
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

3. Data Wrangling - Orders Dataframe

In [8]:
# dropping the 'eval_set' column from df_ords and overwriting df_ords
df_ords = df_ords.drop(columns = ['eval_set'])

In [9]:
df_ords.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [10]:
#checking for missing values
df_ords['days_since_prior_order'].value_counts(dropna = False)
# Result - 206209 missing values (NaN). Column is still usable since null are not the majority of the column

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [11]:
# rename the orders_dow column to orders_day_of_week
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [12]:
# change the data type of order_id to a string since it does not need to be an integer
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [13]:
# inspect df_ords
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 156.6+ MB

In [14]:
df_ords.describe()

,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [15]:
# change 'orders_day_of_week', 'order_hour_of_day', and 'order_number' to int8, change 'user_id' to string
df_ords['orders_day_of_week'] = df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day'] = df_ords['order_hour_of_day'].astype('int8')
df_ords['user_id'] = df_ords['user_id'].astype('str')
df_ords['order_number'] = df_ords['order_number'].astype('int8')

In [16]:
# change 'days_since_prior_order' to float16
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].astype('float16')

In [17]:
# inspect df_ords
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                object
 1   user_id                 object
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
dtypes: float16(1), int8(3), object(2)
memory usage: 68.5+ MB

4. Data Wrangling - Departments Dataframe

In [18]:
# transpose df_dep
df_dep_t = df_dep.T

In [19]:
df_dep_t.head()

                        0
department_id  department
1                  frozen
2                   other
3                  bakery
4                 produce

In [20]:
# add index to df_dep_t
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [21]:
# Create a new header by defining the first row to a variable
new_header = df_dep_t.iloc[0]

In [22]:
# Delete first row of df_dep_t by copying all of the list except for the first row
df_dep_t_new = df_dep_t[1:]

In [23]:
# Set new_header variable as the new header for the df_dep_t_new data frame
df_dep_t_new.columns = new_header

In [24]:
# Check df_dep_t_new
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

4.1  Creating data dictionary

In [25]:
# make df_dep_t_new into data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [26]:
# inspect df_dep_t_new
df_dep_t_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 1 to 21
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   department  21 non-null     object
dtypes: object(1)
memory usage: 892.0+ bytes

5. Data Wrangling - Products Dataframe

In [27]:
# inspecting df_prods
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [28]:
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

In [29]:
# change 'aisle_id' and 'department_id' to int8, change 'product_id' to int32
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int8')
df_prods['department_id'] = df_prods['department_id'].astype('int8')
df_prods['product_id'] = df_prods['product_id'].astype('int32')

In [30]:
# change 'prices' to float32
df_prods['prices'] = df_prods['prices'].astype('float32')

In [31]:
# inspecting df_prods
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int32
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int8
 3   department_id  49693 non-null  int8
 4   prices         49693 non-null  float32
dtypes: float32(1), int32(1), int8(2), object(1)
memory usage: 873.6+ KB

#6 - Task 4.4

In [32]:
# Find another identifier variable in the df_ords dataframe that doesn't need to be a numeric variable
#Copied from above - df_ords['user_id'] = df_ords['user_id'].astype('str')

In [33]:
# Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the data frame
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [34]:
df_ords.rename(columns = {'orders_day_of_week' : 'order_day_of_week'})

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
...,...,...,...,...,...,...
3421078,2266710,206209,10,5,18,29.0
3421079,1854736,206209,11,4,10,30.0
3421080,626363,206209,12,1,12,18.0
3421081,2977660,206209,13,1,12,7.0
3421082,272231,206209,14,6,14,30.0

In [35]:
# Make a frequency count of 'order_hour_of_day'
df_ords['order_hour_of_day'].value_counts()

10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: order_hour_of_day, dtype: int64

#4 The busiest hours for orders placed are 10, 11, 15, 14, and 13.

In [36]:
# Det. the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary
print(data_dict.get('4'))

{'department': 'produce'}

#5 Answer - the value 4 in df_dep_t_new 'department_id' column is the produce department

In [37]:
# create breakfast subset
df_breakfast = df_prods[df_prods['department_id']==14]

In [38]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",-126,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,-126,14,3.6

In [39]:
# create dinner party subset
df_dinner_party = df_prods.loc[df_prods['department_id'].isin([5, 7, 12, 20])]

In [40]:
df_dinner_party.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

In [41]:
# How many rows does the df_dinner_party have?
df_dinner_party.shape

(7650, 5)

#8 df_dinner_party has 7650 rows.

In [42]:
# extract infomation of user_id = 1

df_ords_user1 = df_ords[df_ords['user_id'] == '1' ]

In [43]:
df_ords_user1

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0
5,3367565,1,6,2,7,19.0
6,550135,1,7,1,9,20.0
7,3108588,1,8,1,14,14.0
8,2295261,1,9,1,16,0.0
9,2550362,1,10,4,8,30.0
10,1187899,1,11,4,8,14.0

In [44]:
# Summarize data for user_id 1
df_ords_user1.describe()

,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,11.000000,11.000000,11.000000,10.00000
mean,6.000000,2.636364,10.090909,19.00000
std,3.316625,1.286291,3.477198,9.03125
min,1.000000,1.000000,7.000000,0.00000
25%,3.500000,1.500000,7.500000,14.25000
50%,6.000000,3.000000,8.000000,19.50000
75%,8.500000,4.000000,13.000000,26.25000
max,11.000000,4.000000,16.000000,30.00000

7. Export dataframes

In [45]:
#Export df_ords 
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [46]:
#Export df_dep_t_new
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))

In [47]:
#Export df_prods
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_wrangled.csv'))

In [48]:
#Export df_ords without index? to fix 4.5 problem
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled2.csv'), index_col = False)

TypeError: to_csv() got an unexpected keyword argument 'index_col'

In [49]:
#Export df_dep_t_new index? to fix 4.5 problem
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled2.csv'), index_col = False)

TypeError: to_csv() got an unexpected keyword argument 'index_col'

In [2]:
#Export df_prods index? to fix 4.5 problem
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_wrangled2.csv'), index_col = False)

NameError: name 'df_prods' is not defined