# 6 Combining and Exporting Data

Contents

1. Importing Libraries
2. Importing Data
3. Checking Dataframes
4. Merging Dataframes
5. Export Data

#01 Importing Libraries

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

#02 Importing Data

In [3]:
#Folder Path
path = r'C:\Users\Caroline\Documents\Career Foundry\03 2023 Instacart Basket Analysis'

In [7]:
#import products_checked.csv as df_ords
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = 0)

In [1]:
#import orders_products_combined.pkl as df_merged_orders
df_merged_orders = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

NameError: name 'pd' is not defined

#03 Checking Dataframes

In [8]:
#Check df_prods dataframe size
df_prods.shape

(49672, 5)

In [9]:
#Check df_merged_orders dataframe size
df_merged_orders.shape

(32434489, 10)

In [10]:
#check first rows of df_prods
df_prods.head()

,product_id,product_name,department_id,prices,aisle_id
0,1,Chocolate Sandwich Cookies,19,5.8,61
1,2,All-Seasons Salt,13,9.3,104
2,3,Robust Golden Unsweetened Oolong Tea,7,4.5,94
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,1,10.5,38
4,5,Green Chile Anytime Sauce,13,4.3,5

In [11]:
#check first rows of df_merged_orders
df_merged_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [12]:
# Drop _merge column from df_merged_orders
df_merged_orders = df_merged_orders.drop(columns = ['_merge'])

In [13]:
#check first rows of df_merged_orders
df_merged_orders.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

#04 Merging Dataframes

In [14]:
# Merge df_merged_orders and df_prods. Indicator = true to check if data is present in both dataframes
df_orders_products_merged = df_merged_orders.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
# Check the output of merged dataset
df_orders_products_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,department_id,prices,aisle_id,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,7,9.0,77,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,7,9.0,77,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,7,9.0,77,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,7,9.0,77,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,7,9.0,77,both

In [17]:
# Check value count for '_merge' column
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
#Check size of df_orders_products_merged  
df_orders_products_merged.shape

(32404859, 14)

In [20]:
#check data types of df_orders_products_merged
df_orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  department_id           int64
 11  prices                  float64
 12  aisle_id                int64
 13  _merge                  category
dtypes: category(1), float64(2), int64(10), object(1)
memory usage: 3.4+ GB

In [23]:
#Change data types to reduce memory requirements
df_orders_products_merged['user_id'] = df_orders_products_merged['user_id'].astype('str')
df_orders_products_merged['order_number'] = df_orders_products_merged['order_number'].astype('int8')
df_orders_products_merged['orders_day_of_week'] = df_orders_products_merged['orders_day_of_week'].astype('int8')
df_orders_products_merged['order_hour_of_day'] = df_orders_products_merged['order_hour_of_day'].astype('int8')

In [24]:
#Change data types to reduce memory requirements
df_orders_products_merged['product_id'] = df_orders_products_merged['product_id'].astype('int32')
df_orders_products_merged['reordered'] = df_orders_products_merged['reordered'].astype('int8')
df_orders_products_merged['aisle_id'] = df_orders_products_merged['aisle_id'].astype('int16')
df_orders_products_merged['department_id'] = df_orders_products_merged['department_id'].astype('int8')

In [37]:
#Change data types to reduce memory requirements
df_orders_products_merged['days_since_prior_order'] = df_orders_products_merged['days_since_prior_order'].astype('float16')
df_orders_products_merged['prices'] = df_orders_products_merged['prices'].astype('float32')
df_orders_products_merged['add_to_cart_order'] = df_orders_products_merged['add_to_cart_order'].astype('int16')
df_orders_products_merged['order_id'] = df_orders_products_merged['order_id'].astype('int32')

In [27]:
# Drop _merge column from df_orders_products_merged
df_orders_products_merged = df_orders_products_merged.drop(columns = ['_merge'])

In [38]:
#check data types of df_orders_products_merged
df_orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 object
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int16
 8   reordered               int8
 9   product_name            object
 10  department_id           int8
 11  prices                  float32
 12  aisle_id                int16
dtypes: float16(1), float32(1), int16(2), int32(2), int8(5), object(2)
memory usage: 1.4+ GB

In [39]:
df_orders_products_merged.describe()

,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,prices,aisle_id
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,30328763.0,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.714230e+01,2.738867e+00,1.342515e+01,NaN,2.559866e+04,8.352547e+00,5.895873e-01,9.919792e+00,7.421066e+00,7.119612e+01
std,9.872988e+05,1.753532e+01,2.090077e+00,4.246380e+00,0.0,1.408400e+04,7.127071e+00,4.919087e-01,6.281485e+00,4.119694e+00,3.821139e+01
min,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.354400e+04,3.000000e+00,0.000000e+00,4.000000e+00,4.200000e+00,3.100000e+01
50%,1.711049e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.0,2.530200e+04,6.000000e+00,1.000000e+00,9.000000e+00,7.400000e+00,8.300000e+01
75%,2.565499e+06,2.400000e+01,5.000000e+00,1.600000e+01,15.0,3.794700e+04,1.100000e+01,1.000000e+00,1.600000e+01,1.130000e+01,1.070000e+02
max,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00,2.100000e+01,2.500000e+01,1.340000e+02

#05 Export Data

In [40]:
#Export df_orders_products_merged in .pkl format
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))