# 7 Deriving New Variables

Contents

1. Importing Libraries
2. Importing Data
3. Create 'Price_label' function
4. Create 'Busiest Day' function
5. Create 'Busiest days' function
6. Determine 'Busiest Period of the Day'
7. Export Data

#01 Importing Libraries

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

#02 Importing Data

In [2]:
#Folder Path
path = r'C:\Users\Caroline\Documents\Career Foundry\03 2023 Instacart Basket Analysis'

In [36]:
#import orders_products_merged.pkl as df_orders_products_merged
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [37]:
#check dataframe after importing
df_ords_prods_merge.shape

(32404859, 13)

#03 Create 'Price_label function

In [39]:
#use loc() function to search the entire data frame
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High range product'

In [40]:
# Mid range statement
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid range product'

In [41]:
# Low range loc() statement
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low range product'

In [42]:
# to check the results of price_range function
df_ords_prods_merge['price_range_loc'].value_counts(dropna = False)

Mid range product     21865987
Low range product     10126321
High range product      412551
Name: price_range_loc, dtype: int64

#04 Create 'Busiest Day' function

In [43]:
# Get a count of the orders placed on each day of the week
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [44]:
# for loop - value is a place holder
result = []

for value in df_ords_prods_merge['orders_day_of_week']:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
         result.append("Least busy")
    else:
        result.append("Regularly busy")

In [45]:
#create a column in df_ords_prods_merge to place result
df_ords_prods_merge['busiest_day'] = result

In [46]:
# Count of busiest day
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

#05 Create 'Busiest days' function

In [47]:
# for loop to determine the 2 busiest (day 0 and 1) and 2 slowest days (day 4 and 3)
result2 = []

for value in df_ords_prods_merge['orders_day_of_week']:
    if value == 0 :
        result2.append("Busiest days")
    elif value == 1:
        result2.append("Busiest days")
    elif value == 4:
         result2.append("Slowest days")
    elif value == 3:
        result2.append("Slowest days")
    else:
        result2.append("Regularly busy")

In [48]:
#create a column in df_ords_prods_merge to place result
df_ords_prods_merge['busiest_period'] = result2

In [49]:
# Count of orders in the busiest period of the week
df_ords_prods_merge['busiest_period'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_period, dtype: int64

Observations : the top 2 busiest days are roughly only 1 millon fewer orders then the 3 average days combined.

#06 Determine Busiest Period of the Day

In [50]:
# Determine the hours of the day with 'Most orders', 'Average orders', 'Fewest orders'
# Get a count of the orders placed on each hour of the day
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [51]:
# values over 2,500,000 = "Most orders" , values less then 250,000  = 'Fewest orders', rest 'Average orders'
result3 = []

for value in df_ords_prods_merge['order_hour_of_day']:
    if (value >= 10) & (value <= 16):
        result3.append("Most orders")
    elif value < 6:
        result3.append("Fewest orders")
    else:
        result3.append("Average orders")

In [52]:
#create a new column in df_ords_prods_merge containing labels called "busiest_period_of_the_day" 
df_ords_prods_merge['busiest_period_of_the_day'] = result3

In [53]:
# Print the frequency for the busiest_period_of_the_day
df_ords_prods_merge['busiest_period_of_the_day'].value_counts(dropna = False)

Most orders       18663868
Average orders    13144663
Fewest orders       596328
Name: busiest_period_of_the_day, dtype: int64

#07 Export Data

In [54]:
df_ords_prods_merge.shape

(32404859, 17)

In [56]:
#check data types of df_ords_prods_merge
df_ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 17 columns):
 #   Column                     Dtype
---  ------                     -----
 0   order_id                   int32
 1   user_id                    object
 2   order_number               int8
 3   orders_day_of_week         int8
 4   order_hour_of_day          int8
 5   days_since_prior_order     float16
 6   product_id                 int32
 7   add_to_cart_order          int16
 8   reordered                  int8
 9   product_name               object
 10  department_id              int8
 11  prices                     float32
 12  aisle_id                   int16
 13  price_range_loc            object
 14  busiest_day                object
 15  busiest_period             object
 16  busiest_period_of_the_day  object
dtypes: float16(1), float32(1), int16(2), int32(2), int8(5), object(6)
memory usage: 2.4+ GB

In [57]:
df_ords_prods_merge.describe()

,order_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,prices,aisle_id
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,30328763.0,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.714230e+01,2.738867e+00,1.342515e+01,NaN,2.559866e+04,8.352547e+00,5.895873e-01,9.919792e+00,7.421066e+00,7.119612e+01
std,9.872988e+05,1.753532e+01,2.090077e+00,4.246380e+00,0.0,1.408400e+04,7.127071e+00,4.919087e-01,6.281485e+00,4.119694e+00,3.821139e+01
min,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.0,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.000000e+00,1.000000e+00,1.000000e+01,5.0,1.354400e+04,3.000000e+00,0.000000e+00,4.000000e+00,4.200000e+00,3.100000e+01
50%,1.711049e+06,1.100000e+01,3.000000e+00,1.300000e+01,8.0,2.530200e+04,6.000000e+00,1.000000e+00,9.000000e+00,7.400000e+00,8.300000e+01
75%,2.565499e+06,2.400000e+01,5.000000e+00,1.600000e+01,15.0,3.794700e+04,1.100000e+01,1.000000e+00,1.600000e+01,1.130000e+01,1.070000e+02
max,3.421083e+06,9.900000e+01,6.000000e+00,2.300000e+01,30.0,4.968800e+04,1.450000e+02,1.000000e+00,2.100000e+01,2.500000e+01,1.340000e+02

In [58]:
#Export df_orders_products_merged in .pkl format
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_PR_busy.pkl'))